header {
    background-color: var(--color-3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.theme-light header {
    background-color: var(--color-6);
}

header .left {
    height: 8%;
    padding: 1.5rem 1rem 0.5rem 2rem;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

header .left h1 {
    margin: 0;
    font-size: 2.5rem;
}

header .left h2 {
    font-family: "Abel", sans-serif;
    margin-top: 0.4rem;
    font-size: 1rem;
    line-height: 1.1rem;
    text-transform: none;
}

header .right {
    background-color: var(--color-7);
    filter: opacity(99.2%);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 80vh;
    padding: 2rem 0;
    gap: 5rem;
    transition: left 0.5s ease;
    flex-direction: column;
}
.theme-light header .right {
    background-color: var(--color-8);
}

header .right.hidden {
    left: 100vw;
}

header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
    width: 100%;
}

header nav ul li {
    width: 100%;
    display: flex;
    justify-content: center;
}

header nav ul a {
    font-size: 2rem;
    width: 90%;
    height: 4rem;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 3rem;
    border: 0.15rem solid rgba(0, 0, 0, 0);
    gap: 1rem;
    color: var(--color-2);
    border-radius: 0.3rem;
    margin: 0 0.5rem;
}
.theme-light header nav ul a {
    color: var(--color-7);
}

header nav ul a:hover {
    border: 0.15rem solid var(--color-5);
    background-color: var(--color-3);
}
.theme-light header nav ul a:hover {
    background-color: var(--color-6);
    color: var(--color-5);
}

header nav ul a .icon {
    width: 1.3rem;
    color: var(--color-4)
}
.theme-light header nav ul a .icon {
    color: var(--color-5);
}

header .toggles {
    gap: 2rem;
}

header .toggles div {
    justify-content: right;
    padding-right: 3rem;
    gap: 1rem;
}

header .hamburger {
    background: none;
    padding: 0.8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

header .hamburger .line {
    display: block;
    width: 2.2rem;
    height: 0.18rem;
    background-color: var(--color-2);
}

header .language-toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    background-color: var(--color-1);
    border: 0.12rem solid var(--color-2);
    color: var(--color-2)
}

@media only screen and (min-width: 760px) {
    header {
        display: flex;
        align-items: center;
    }

    header .title h2 {
        margin: 0;
    }

    header .left {
        width: 100%;
        padding: 0 2rem;
        height: 6rem;
    }

    header .right {
        position: relative;
        background: none;
        flex-direction: row;
        height: 0;
        justify-content: end;
        padding-right: 2.5rem;
    }

    header .toggles,
    header nav ul li a p,
    header .hamburger {
        display: none;
    }

    header nav {
        display: flex;
        align-items: center;
    }

    header nav ul li a {
        padding: 0 1rem;
        height: 3rem;
    }

    header nav ul {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1050px) {
    header nav ul li a p {
        display: block;
    }
}
