.footer {
    background-color: var(--color-3);
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    display: none;
}

.theme-light .footer {
    background-color: var(--color-6);
}
