@import "./styles/fonts.css";

:root {
    --text-primary: #FFFFFF;
    --text-secondary: #D9D9D9;
    --text-tetriary: #d9d9d940;
    --background: #00171F;
    --paper: #00212D;
    --primary: #0E93E5;
    --primary-1: #44b6fd;
    --primary-2: #076097;
    --secondary: #ADEBFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-primary);
}

html, body {
    background-color: var(--background);
    scroll-behavior: smooth;
}

h1 {
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

h2 {
    font-family: "Martel Sans", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.3rem;
}

h3 {
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2.3rem;
}

h4 {
    font-family: "Martel Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 2.3rem;
}

p, span, a {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    font-optical-sizing: auto;
}

button {
    background-color: var(--primary);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

button.text {
    color: var(--secondary);
    background: none;
    border: none;
    padding: 0;
}

button.text span {
    color: var(--secondary);
}

@media screen and (min-width: 850px) {
    html {
        font-size: 18px;
    }
}

@keyframes slide-right-in {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@keyframes slide-right-out {
    0% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}

@keyframes slide-left-in {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@keyframes slide-left-out {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

@keyframes fade-in {
    0% {
        filter: opacity(0);
    }
    100% {
        filter: opacity(1);
    }
}

@keyframes fade-out {
    0% {
        filter: opacity(1);
    }
    100% {
        filter: opacity(0);
    }
}