@import url("https://fonts.googleapis.com/css2?family=Abel&family=Oswald:wght@600&display=swap");
@import "colors";

html {
    scroll-behavior: smooth;
}

body {
    color: $color-5;
    font-family: "Abel", sans-serif;
    background: url("/images/background.webp");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
    margin: 5px;
}

h1 {
    margin-bottom: 50px;
    font-size: 10vw;
}

h3 {
    font-family: "Abel", sans-serif;
}

p {
    font-size: 20px;
}

.main_title {
    color: $color-2;
    text-shadow: -2px 2px 5px rgb(5, 5, 5);
    font-size: 12vw;
    line-height: 12vw;
}

a {
    background: rgba(0, 0, 0, 0);
    color: $color-1;
    border: solid 2px rgba(0, 0, 0, 0);
    text-decoration: none;
    border-radius: 3px;
    margin: 10px;
    display: block;
    padding: 10px 28px 10px 28px;
    text-align: center;
}

a:hover,
.contacts a {
    border: solid 2px $color-2;
    background: $color-3;
}

img {
    width: 100%;
}

.grid_item {
    padding: 10px;
}

.menu {
    grid-area: header;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 70px;
    background: $color-4;
}

.menu_title {
    position: absolute;
    left: 10px;
    top: 0px;
    color: $color-2;
    margin: 10px;
}

.menu_title i {
    color: $color-2;
    width: 100px;
    position: inherit;
    top: 10px;
}

.menu_item1 {
    margin-top: 0px;
    margin-bottom: 0px;
    position: inherit;
    top: 8px;
    left: 40px;
}

.menu_dropdown {
    position: absolute;
    top: 70px;
    right: -100%;
    padding: 10px;
    border-radius: 4px;
    background: $color-4;
    z-index: 100;
}

.hamburger {
    display: block;
    position: absolute;
    right: 0;
    padding: 18px 24px 18px 18px;
    z-index: 101;
}

.hamburger:hover .bar {
    background: $color-1;
}

.menu_dropdown.active {
    right: 0;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $color-2;
    z-index: 102;
}

.about {
    width: 100%;
}

.about_intro {
    width: 100%;
    padding-left: 10vw;
    padding-top: 150px;
    padding-right: 20px;
    background-color: $color-3;
}

.about_image {
    background-color: $color-4;
    width: 100%;
    padding: 10% 20vw 0 20vw;
}

.about_text {
    padding: 10vw 20vw;
    margin-top: -20px;
    background-color: $color-4;
    box-shadow: 0px 0px 50px $color-6;
    text-align: center;
}

.projects,
.work {
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    background-color: $color-4;
    padding: 100px 10vw;
    box-shadow: 0px 0px 5px $color-6;
}

.about_text,
.projects,
.work {
    margin-bottom: 250px;
}

.projects img {
    margin-top: 20px;
}

.work_item,
.project_item {
    max-width: 600px;
    padding: 10px;
    margin: 25px;
    text-align: left;
}

.project_item {
    border: 1px solid $color-6;
    border-radius: 7px;
    padding: 13px 28px 13px 20px;
}

.project_item .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project_item .title button {
    background: none;
    border: none;
    color: $color-2;
}

.project_item .content {
    display: none;
}

.project_item .content a {
    border: 1px solid $color-4;
    background-color: $color-3;
    width: 40px;
    margin: 0;
    padding: 10px;
    color: $color-2;
}

.project_item .content a:hover {
    border: 1px solid $color-2;
}

.project_item .content .links {
    display: flex;
    gap: 10px;
}

.work_item {
    border-radius: 20px;
    border: solid 2px $color-2;
    background: $color-3;
}

.contacts {
    background-color: $color-4;
    padding: 50px 50px;
    text-align: center;
}

.contacts a {
    padding: 10px 0px;
    margin: 10px auto;
    max-width: 200px;
}
.contacts a:hover {
    background-color: $color-4;
}

.copyright {
    color: #252a30;
    font-size: medium;
}

footer {
    background-color: $color-4;
    text-align: center;
    padding: 10px;
}

.template {
    display: none;
}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 100px;
    }

    .menu {
        z-index: 999;
    }

    .menu_button {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .menu_dropdown {
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 0;
        height: 70px;
        align-items: center;
    }

    .menu_dropdown a {
        margin: 10px 5px;
        padding: 10px;
    }

    .menu:focus-within .menu_dropdown {
        display: none;
    }

    .about {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: auto;
        grid-template-areas:
            "title picture"
            "content1 content1";
        width: 100%;
        position: relative;
    }

    .about_intro {
        grid-area: title;
        margin-bottom: 0px;
    }

    .about_image {
        grid-area: picture;
        position: absolute;
        left: 0px;
        bottom: 0px;
        padding: 100px 0px 0px 0px;
        background-color: #c7c6c2;
    }

    .about_text {
        grid-area: content1;
        margin-top: 0px;
        padding: 100px;
    }

    .work,
    .projects {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
            "title title"
            "content1 content2"
            "footer footer";
        width: 100%;
        padding: 50px 100px;
        max-width: 1300px;
    }

    .work_title,
    .projects_title {
        grid-area: title;
    }

    .work_item1,
    .projects_item1 {
        grid-area: content1;
        margin-left: 50px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .work_item2,
    .projects_item2 {
        grid-area: content2;
        margin-right: 50px;
        padding-right: 20px;
        padding-left: 20px;
    }
}
