/* Montserrat font imports */
@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat-Thin.ttf");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat-Black.ttf");
    font-weight: 900;
    font-style: normal;
}

/* Martel Sans font imports */
@font-face {
    font-family: "Martel Sans";
    src: url("../../public/fonts/MartelSans-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Martel Sans";
    src: url("../../public/fonts/MartelSans-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Martel Sans";
    src: url("../../public/fonts/MartelSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Martel Sans";
    src: url("../../public/fonts/MartelSans-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Martel Sans";
    src: url("../../public/fonts/MartelSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Martel Sans";
    src: url("../../public/fonts/MartelSans-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}