div.footer {
    position: relative;
    margin-bottom: 0;
    padding: 1.5rem 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.footer p {
    color: var(--text-tetriary);
    font-size: 0.8rem;
    padding-left: 3rem;
}

div.footer div.language-buttons {
    padding-right: 3rem;
    z-index: 100;
}

div.footer div.background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}