section.introduction {
    height: 100%;
    background-image: url("../assets/bg.webp");
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

section.introduction div.profile-foreground {
    background-image: url("../assets/fg.webp");
    background-position: 0% 100%;
    background-size: cover;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0rem;
    width: 100%;
    transition: all 1s ease;
}

section.introduction div.profile-foreground.active {
    background-image: url("../assets/fg_red.webp");
}

section.introduction div.content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 6rem 2.5rem 4rem 2.5rem;
    width: 65%;
    height: 100%;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0)
    );
}


section.introduction div.content div.sub-heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sub-heading p a.know-me-link {
    color: var(--secondary);
}

button.contact-button {
    background: linear-gradient(
        45deg,
        var(--primary) 0%,
        var(--primary) 35%,
        var(--primary-1) 50%,
        var(--primary) 65%,
        var(--primary) 100%
    );
    background-size: 400%;
    transition: all 0.5s ease;
    animation: gradient 10s ease infinite;
    width: 8rem;
}

a.contact {
    text-decoration: none;
}

@keyframes gradient {
    0% {
        background-position: 100% 0%;
    }
    80% {
        background-position: 100% 0%;
        transform: scale(1);
    }
    90% {
        background-position: 0% 0%;
        transform: scale(1.03);
    }
    100% {
        background-position: 0% 0%;
        transform: scale(1);
    }
}

button:hover {
    transform: scale(1.05);
}

@media screen and (min-width: 400px) {
    section.introduction {
        height: 30rem
    }
    section.introduction div.profile-foreground {
        right: -20vw;
    }
}

@media screen and (min-width: 600px) {
    section.introduction {
        height: 35rem;
    }

    .sub-heading {
        width: 15rem;
    }

    section.introduction div.profile-foreground {
        right: -8rem;
        width: 90%;
    }
}

@media screen and (min-width: 750px) {
    div.text {
        grid-column-start: 2;
        grid-row-start: 1;
        display: flex;
        justify-content: center;
        padding-left: 1rem;
    }

    div.text div.heading p {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .heading h1 {
        font-size: 3rem;
        width: 12rem;
    }

    div.text div.sub-heading p, div.text div.sub-heading a.know-me-link {
        font-size: 1rem;
    }

    div.text div.sub-heading a.contact {
        text-decoration: none;
    }

    div.text div.sub-heading a.contact button {
        font-size: 0.9rem;
        width: 8rem;
        height: 2.5rem;
        text-decoration: none;
        margin-top: 1rem;
    }

    section.introduction div.profile-foreground {
        right: -8rem;
        width: 80%;
        background-position: 0% 20%;
    }
}

@media screen and (min-width: 950px) {
    section.introduction div.profile-foreground {
        right: 2vw;
        width: 36rem;
        height: 30rem;
        background-position: 0% 20%;
    }
}

@media screen and (min-width: 1200px) {
    section.introduction div.text {
        margin-top: 2rem;
        margin-left: 5rem;
    }

    .heading h1 {
        width: inherit;
        max-width: 25rem;
        font-size: 6rem;
        line-height: 6rem;
    }

    .sub-heading {
        width: 20rem;
    }

    section.introduction div.profile-foreground {
        right: 10vw;
        width: 36rem;
        height: 30rem;
        background-position: 0% 20%;
    }
}

@media screen and (min-width: 1500px) {
    div.text {
        margin-top: 2rem;
        margin-left: 14rem;
    }

    section.introduction div.profile-foreground {
        right: 20vw;
    }
}
