section.introduction {
    height: 100%;
    background-image: url("../assets/background-image.jpg");
    background-position: center;
    background-size: cover;
}

section.introduction div.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 6rem 2.5rem 4rem 2.5rem;
    width: 65%;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0)
    );
}

section.introduction div.content div.sub-heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button {
    background: linear-gradient(
        45deg,
        var(--primary) 0%,
        var(--primary) 35%,
        var(--primary-1) 50%,
        var(--primary) 65%,
        var(--primary) 100%
    );
    background-size: 400%;
    transition: all 0.5s ease;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 100% 0%;
    }
    80% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

button:hover {
    transform: scale(1.05);
}