.loading-effect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.loading-effect.lg {
    position: absolute;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: conic-gradient(
        var(--background) 0% 25%,
        var(--primary) 45% 55%,
        var(--background) 75% 100%
    );
    animation: spin 1s linear infinite;
}

.loading-spinner.xs {
    height: 1rem;
    width: 1rem;
}

.loading-spinner.sm {
    height: 1.75rem;
    width: 1.75rem;
}

.loading-spinner.md {
    height: 2.5rem;
    width: 2.5rem;
}

.loading-spinner.lg {
    height: 4rem;
    width: 4rem;
}

.loading-spinner.xl {
    height: 6rem;
    width: 6rem;
}

.loading-cover {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color: var(--background);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}