.logo-dumb {
    position: relative;
    margin: 16px 0;
    width: 256px;
    height: 300px;
    min-width: 256px;
    transition: all 0.3s;
    overflow: hidden;
}

.logo-dumb a {
    position: absolute;
    filter: grayscale(100%) opacity(50%);
    transition: all 0.15s;
}

.logo-dumb a:hover {
    filter: none;
}

.logo-dumb a.light-up {
    filter: none;
}

/* Logo sizing */
.logo-dumb a img {
    height: 26px;
    width: 100%;
    box-sizing: border-box;
    object-fit: contain;
}
.logo-dumb .java-full img {
    height: 109px;
}
.logo-dumb .react-full img {
    height: 93px;
}
.logo-dumb .python img {
    height: 56px;
}
.logo-dumb .python img,
.logo-dumb .node-full img,
.logo-dumb .mysql-full img {
    height: 48px;
}
.logo-dumb .html img,
.logo-dumb .css img,
.logo-dumb .javascript-web img {
    height: 37px;
}
.logo-dumb .mapbox-full img {
    height: 20px;
}
.logo-dumb .express-full img {
    height: 16px;
}

/* Logo positioning */
.logo-dumb .docker {
    top: 0;
    left: 10%;
}
.logo-dumb .react-full {
    top: 5%;
    left: 19%;
}
.logo-dumb .modbus-full {
    top: 6px;
    right: 22%;
}
.logo-dumb .kotlin {
    top: 32px;
    right: 5%;
}
.logo-dumb .node-full {
    top: 43px;
    right: 20%;
}
.logo-dumb .css {
    top: 53px;
    left: 0;
}
.logo-dumb .mapbox-full {
    top: 106px;
    right: 16%;
}
.logo-dumb .js-web {
    top: 80px;
    right: 0;
}
.logo-dumb .unity-full {
    top: 112px;
    left: 5%;
}
.logo-dumb .html {
    top: 141px;
    left: 38%;
}
.logo-dumb .express-full {
    top: 141px;
    right: 4%;
}
.logo-dumb .python {
    top: 152px;
    left: 14%;
}
.logo-dumb .git {
    top: 154px;
    left: 1%;
}
.logo-dumb .js {
    top: 192px;
    left: 40%;
    z-index: 10;
}
.logo-dumb .java-full {
    top: 131px;
    right: 22%;
    z-index: 10;
}
.logo-dumb .ts {
    top: 173px;
    right: 7%;
}
.logo-dumb .github {
    top: 200px;
    left: 5%;
}
.logo-dumb .android-full {
    top: 264px;
    left: 22%;
    z-index: 10;
}
.logo-dumb .spring-full {
    top: 234px;
    left: 18%;
}
.logo-dumb .mysql-full {
    top: 221px;
    right: 5%;
}


.logo-dumb.large {
    width: 320px;
    height: 320px;
    min-width: 320px;
}

/* Logo sizing */
.logo-dumb.large a img {
    height: 32px;
}
.logo-dumb.large .html img,
.logo-dumb.large .css img,
.logo-dumb.large .javascript-web img {
    height: 45px;
}
.logo-dumb.large .node-full img,
.logo-dumb.large .mysql-full img {
    height: 56px;
}
.logo-dumb.large .mapbox-full img {
    height: 24px;
}
.logo-dumb.large .react-full img {
    height: 102px;
}
.logo-dumb.large .express-full img {
    height: 21px;
}
.logo-dumb.large .python img {
    height: 67px;
}
.logo-dumb.large .java-full img {
    height: 118px;
}

/* Logo positioning */
.logo-dumb.large .react-full {
    top: 10px;
    left: 20%;
}
.logo-dumb.large .node-full {
    top: 40px;
}
.logo-dumb.large .css {
    top: 48px;
}
.logo-dumb.large .ts {
    top: 181px;
}
.logo-dumb.large .mapbox-full {
    top: 104px;
    right: 15%;
}
.logo-dumb.large .unity-full {
    top: 120px;
}
.logo-dumb.large .html {
    top: 140px;
}
.logo-dumb.large .express-full {
    right: 0%;
}
.logo-dumb.large .python {
    top: 160px;
}
.logo-dumb.large .git {
    top: 165px;
}
.logo-dumb.large .js {
    top: 203px;
}
.logo-dumb.large .java-full {
    top: 138px;
    right: 23%;
}
.logo-dumb.large .github {
    top: 216px;
}
.logo-dumb.large .android-full {
    top: 280px;
}
.logo-dumb.large .spring-full {
    top: 246px;
}
.logo-dumb.large .mysql-full {
    top: 232px;
    right: 5%;
}