div.logo-dumb {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 16rem;
}

.top, .middle, .bottom {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top a, .middle a, .bottom a {
    position: absolute;
}

/* TOP LOGO'S STYLING */
.top {
    height: 7rem;
}
.html img, .react img {
    width: 5rem;
    height: 5rem;
}
.css img, .javascript-web img {
    width: 3.5rem;
    height: 3.5rem;
}
.html {
    top: 3rem;
    margin: 0 auto;
    z-index: 10;
}
.css {
    right: 55%;
    top: 3.5rem;
    z-index: 1;
}
.javascript-web {
    left: 55%;
    top: 3.5rem;
    z-index: 1;
}
.react {
    top: 0;
}

/* MIDDLE LOGO'S STYLING */
.middle {
    height: 4.2rem;
}
.mapbox {
    left: 12%;
    top: 0;
}
.express {
    top: 1.2rem;
    left: 27%;
}
.javascript {
    top: 1rem;
    left: 43%;
}
.github {
    top: 0.8rem;
    right: 26%;
}
.modbus {
    top: 0;
    right: 10%;
}
.spring-boot {
    top: 3rem;
    left: 0;
}
.git {
    top: 4rem;
    left: 13%
}
.typescript {
    top: 4rem;
    left: 28%;
}
.android {
    top: 4rem;
    right: 28%;
}
.docker {
    top: 3.2rem;
    right: 13%
}
.unity {
    top: 2rem;
    right: 0;
}

/* BOTTOM LOGO'S STYLING */
.bottom {
    height: 6rem;
}
.java img {
    height: 6rem;
    width: 6rem;
}
.node img, .python img {
    height: 3rem;
    width: 3rem;
}
.mysql {
    top: 1.5rem;
    left: 0;
}
.mysql img {
    height: 2.8rem;
    width: 2.8rem;
}
.node {
    top: 1.8rem;
    left: 18%;
}
.java {
    top: 0;
    margin: 0 auto;
}
.python {
    top: 2rem;
    right: 15%
}
.kotlin {
    top: 2rem;
    right: 0;
}
