section.projects .project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 3rem;
}

section.projects .content {
    position: relative;
}

.projects .sort {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.projects .sort p.hint-text {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--text-secondary);
    filter: none;
}

.projects .sort .sort-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.projects .sort .sort-actions .sort-order-button {
    padding: 0;
    background-color: var(--paper);
    border: 0.1rem solid var(--text-tetriary);
    height: 2.3rem;
    width: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-carousel, .project-list {
    margin-bottom: 2.7rem;
}

a.view-all {
    background-color: var(--background);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    border: 0.1rem solid var(--primary);
    color: var(--primary);
    font-weight: 600;
    margin-top: 5rem;
}