section.styled-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    margin: 2rem 0;
}

@media screen and (min-width: 950px) {
    section.styled-section {
        padding: 3rem 7rem;
    }
}

@media screen and (min-width: 1200px) {
    section.styled-section {
        padding: 3rem 12rem;
    }
}

@media screen and (min-width: 1500px) {
    section.styled-section {
        padding: 3rem 18rem;
    }
}