section.skills {
    padding: 2rem;
}

.skills h2 {
    margin-left: 1rem;
}

.logo-list-container {
    margin-left: 1rem;
}

.logo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.hint-text {
    color: var(--text-secondary);
    filter: opacity(0.25);
}