section.skills {
    padding: 2rem;
    margin-top: 1rem;
}

.skills h2 {
    margin-left: 1rem;
}

.skills .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.logo-list-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.logo-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    padding: 0 1rem;
}

.skills .hint-text {
    color: var(--text-secondary);
    filter: opacity(0.25);
}

@media screen and (min-width: 550px) {
    .logo-list-container {
        flex-direction: row;
        justify-content: start;
        align-items: start;
    }

    .skills .content {
        align-items: start;
    }

    .skills .hint-text {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 950px) {
    section.skills .content {
        padding: 3rem;
    }
}

@media screen and (min-width: 1200px) {
    section.skills .content {
        padding: 0 8rem 3rem 7rem;
    }

    .logo-list-container {
        align-items: center;
    }

    .logo-list {
        margin: 0;
    }

    .skills .hint-text {
        margin: 0;
        width: 100%;
    }
}

@media screen and (min-width: 1500px) {
    section.skills .content {
        padding: 0 15rem;
    }
}