div.top-bar {
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 0.8rem 1.2rem 1rem;
    width: 100%;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0)
    );
}

svg.logo {
    height: 2rem;
    width: 2rem;
}

@keyframes l-mode-in {
    0% {
        transform: translate(0px, 10px) rotate(-10deg);
    }
    50% {
        transform: translate(2.8px, 23px) rotate(-19deg);
    }
    100% {
        transform: translate(16px, 44px) rotate(-38deg);
    }
}

@keyframes r-mode-in {
    0% {
        transform: translate(0px, -20px) rotate(10deg);
    }
    50% {
        transform: translate(7.2px, -35px) rotate(19deg);
    }
    100% {
        transform: translate(24px, -65px) rotate(38deg);
    }
}

@keyframes l-mode-out {
    0% {
        transform: translate(16px, 44px) rotate(-38deg);
    }
    50% {
        transform: translate(2.8px, 23px) rotate(-19deg);
    }
    100% {
        transform: translate(0px, 10px) rotate(-10deg);
    }
}

@keyframes r-mode-out {
    0% {
        transform: translate(24px, -65px) rotate(38deg);
    }
    50% {
        transform: translate(7.2px, -35px) rotate(19deg);
    }
    100% {
        transform: translate(0px, -20px) rotate(10deg);
    }
}

svg.logo #left-upper {
    transform: translate(0px, 10px) rotate(-10deg);
    animation: l-mode-out 0.85s linear;
}

svg.logo #right-upper {
    transform: translate(0px, -20px) rotate(10deg);
    animation: r-mode-out 0.85s linear;
}

svg.logo.down #left-upper {
    transform: translate(16px, 44px) rotate(-38deg);
    animation: l-mode-in 0.7s linear;
}

svg.logo.down #right-upper {
    transform: translate(24px, -65px) rotate(38deg);
    animation: r-mode-in 0.7s linear;
}

svg.logo #right-t, svg.logo #left-t {
    transition: transform 0.2s;
}

svg.logo #right-upper, svg.logo #left-upper {
    transition: transform 0.5s;
}

svg.logo #left-upper, svg.logo #left-lower {
    fill: var(--primary);
}

svg.logo #right-upper, svg.logo #right-upper {
    fill: var(--text-primary);
}

svg.logo #right-t {
    transform: translateX(0.1rem);
}

svg.logo #left-t {
    transform: translateX(-0.1rem);
}

svg.logo:hover #right-t {
    transform: translateX(0.2rem);
}

svg.logo:hover #left-t {
    transform: translateX(-0.2rem);
}

button.menu-icon {
    position: relative;
    width: 2.5rem;
    height: 2rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.32rem;
    cursor: pointer;
    background: none;
}

button.menu-icon span {
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: var(--text-primary);
    transition: transform 0.2s;
}

button.menu-icon:hover span:nth-child(1) {
    transform: translateY(-0.06rem);
}

button.menu-icon:hover span:nth-child(3) {
    transform: translateY(0.06rem);
}

.logo-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 2rem;
}

@media screen and (min-width: 950px) {
    button.menu-icon, button.close {
        display: none;
    }

    div.top-bar {
        background: none;
        justify-content: space-between;
        width: 100%;
        background-color: var(--background);
        padding: 0.5rem 1.2rem;
    }
}