.work-experience-card {
    display: flex;
    flex-direction: column;
}

.work-subtitle {
    color: var(--text-secondary);
    font-size: 0.9rem;
    font-family: "Manserrat", sans-serif;
    font-weight: 400;
    height: 1.5rem;
    filter: opacity(0.5);
}

.work-title {
    margin-bottom: 0.8rem;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}