#home {
    margin-top: 16vw;
    position: relative;
    max-width: 720px;
    margin: 16vw auto;
    margin-top: 150px;
}

.home-text {
    position: relative;
    z-index: 2;
    text-align: center;
}

.home-text h2 {
    font-size: 1rem;
    font-family: "Abel", sans-serif;
    text-transform: none;
    width: 100%;
    margin: 1rem auto;
}

.home-image {
    width: 100px;
    z-index: 1;
    filter: opacity(50%);
}

@media only screen and (min-width: 1050px) {
    #about-me {
        margin-top: 6vw;
    }
}
